.venv
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

tests
evals/results
benchmark-server.stderr.log
benchmark-server.stdout.log
task-worker.stderr.log
task-worker.stdout.log

data/uploads
chroma_db
